.content {
    background: #faebd7;
}

h1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
}

#ratings-container {
    width: 80%;
    margin: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #b6b4b4;
    padding: 10px;
    text-align: center;
}

th {
    background: #cd6c4f;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}