#resturent-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#resturent-container img {
    border-radius: 10px;
}

.res-Details{
    /* text-align: center; */
    margin-left: 30px;
    margin-top: 80px;
    color: white;
}
#resturent-container h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

#resturent-container p {
    margin-bottom: 8px;
    font-size: 20px;
}



/* Review */

#reviews-list .review-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#reviews-list hr {
    margin: 10px 0;
}

#review-form {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

#review-form h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}


#review-form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
    resize: none;
}

#review-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
}

#review-form button {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

#review-form button:hover {
    background-color: #0056b3;
}
